body {
  background-color: #151414;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100%;
  position: relative;
}

.container .hello-block {
  width: 360px;
  margin: 10px;
  padding: 20px 30px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1px solid #151414;
  border-radius: 5px;
  box-shadow: 0 0 3px #151414 inset;
  background-color: #ccc;
  position: absolute;
}

.container .hello-block .autor-img {
  width: 180px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 50px 0 0;
}

.container .hello-block .describe {
  margin: 10px;
  text-align: left;
  display: flex;
  flex-flow: column;
}

.container .hello-block .describe .title {
  display: flex;
  text-align: left;
}

.container .hello-block .describe .about-me {
  width: 80%;
  text-align: left;
}

.container .hello-block .describe .hello-text {
  color: #000000;
  text-align: left;
}

.container .content {
  margin: 10px;
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container .content .card::nth-child(even) {
  margin-right: 0;
  box-sizing: border-box;
}

.container .content .card {
  width: 100%;
  height: 430px;
  margin: 0 0 30px 0;
  padding: 35px 45px 35px 45px;
  background-color: #ccc;
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #b9b5b5 inset;
  position: relative;
}

.container .content .card:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 5px #b9b5b5 inset, 0px 0px 5px #ccc;
  box-sizing: border-box;
}

.container .content .card .project-link {
  width: 40%;
}

.container .content .card .card-image {
  width: 100%;
  border-radius: 3px;
}

.container .content .card .card-image:hover {
  box-shadow: 0px 0px 5px #ccc;
  box-sizing: border-box;
  opacity: 0.8;
}

.container .content .card .card-title {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border-top: 1px solid #000000;
  padding: 5px 0 0 0;
  margin-bottom: 0;
}

.container .content .card .card-text,
.container .content .card .git-link {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.container .content .card .git-link {
  width: 36px;
  text-decoration: none;
  color: #000000;
  position: absolute;
  bottom: 20px;
}

.container .content .card .git-link-img:hover {
  fill: #1f1e1e;
}
